<!DOCTYPE HTML>
<html lang ="de">
<head>
    <title>Angebote</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div>
    <h1>Hier sehen sie all unsere Angebote und Produkte</h1>
</div>
<div>
    <form name="forms" id="forms">
        <button type="submit">Alle Angebote anzeigen</button>
    </form>
    <table id="mitglied">
        <tr>
            <th style="width:33.33%">Name des Mitgliedes</th>
            <th style="width:33.33%">Preis</th>
            <th style="width:33.33%">Verfügbare Menge</th>
        </tr>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        const formElement = document.querySelector('form#forms')
        const handler = (event) => {
            event.preventDefault();
            const valid = formElement.reportValidity();
            if (valid) {
                $.get("http://localhost:8080/mitglied/abrufen", null, function (data) {
                    var mainContainer = document.getElementById("mitglied");
                    for (var i = 0; i < data.length; i++) {
                        var tr = document.createElement("tr");
                        var td1 = document.createElement("td");
                        var td2 = document.createElement("td");
                        var td3 = document.createElement("td");
                        td1.innerHTML = data[i].name;
                        td2.innerHTML = data[i].price;
                        td3.innerHTML = data[i].amount;
                        mainContainer.appendChild(tr);
                        tr.appendChild(td1);
                        tr.appendChild(td2);
                        tr.appendChild(td3);
                    }
                    console.log(data)
                })
            }
        }
        formElement.addEventListener("submit", handler)
    </script>
</div>
<div id="footer">
    <p>Zur Startseite: <a href="/">Startseite</a></p>
    <p>Waren anbieten: <a href="/mitglieder">Waren anbieten</a></p>
</div>
</body>
</html>

