<!DOCTYPE HTML>
<html lang="de">
<head>
    <link rel="stylesheet" href="generell.css">
    <title>Mitgliedsdaten einsehen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="mitgliedsdaten.js" defer></script>
</head>
<body>
<div>
    <h1>Hier sehen sie alle registrierten Mitglieder und ihre Daten</h1>
</div>
<div>
    <form>
        <button type="submit" id="getMember">Alle Mitglieder anzeigen</button>
    </form>
    <table id="mitglied">
        <tr>
            <th style="width:25%">Vorname</th>
            <th style="width:25%">Nachname</th>
            <th style="width:25%">Alter</th>
            <th style="width:25%">Adresse</th>
        </tr>
    </table>
</div>
<div id="footer">
    <p>Zur Startseite: <a href="/">Startseite</a></p>
    <p>Registrieren: <a href="/mitglieder">Registrieren</a></p>
</div>
</body>
</html>

