<!DOCTYPE html>
<html lang="de">
<head>
    <link rel="stylesheet" href="generell.css">
    <title>Beiträge berechnen</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="rechner.js" defer></script>
</head>
<body>
<div>
    <h1>Hier können Sie ganz einfach Ihre Rente berechnen!</h1>
</div>
<div>
    <form id="eingabeBerechnungsdaten">
        <label>Alter:
            <input id="alter" type="number" placeholder="Alter eingeben"/>
        </label><br>
        <label>gewünschter, monatlicher Beitrag in €:
            <input id="beitrag" type="number" placeholder="monatlicher Beitrag"/>
        </label><br>
        <label>gewünschtes Renteneintrittsalter:
            <input id="eintrittsalter" type="number" placeholder="Renteneintrittsalter"/>
        </label><br>
        <button type="submit" id="beitragBerechnen">Beitrag berechnen</button>
    </form>
    <label>Zu erwartende Rente in €:
        <output id="ergebnisRente">000</output>
    </label>
</div>
<footer>
    <p><a href="/">Startseite</a></p>
    <p><a href="/mitglieder">Registrieren</a></p>
    <p><a href="/mitgliedsdaten">Mitgliedsdaten einsehen</a></p>
</footer>
</body>
</html>