<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Waren anbieten</title>
</head>
<body>
<div>
    <h1>Hier können ganz einfach Artikel zum Verkauf angeboten werden!</h1>
</div>
<div>
    <form name="forms" id="forms">
        <label>Name des Produkts:
            <input name="name" type="text"/>
        </label><br>
        <label>Anzahl verfügbarer Produkte:
            <input name="amount" type="number"/>
        </label><br>
        <label>Preis pro Stück:
            <input name="price" type="number"/>
        </label><br>
        <button type="submit">Ware anbieten</button>
    </form>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        const formElement = document.querySelector('form#forms')

        const getFormJSON = (form) => {
            const data = new FormData(form);
            return Array.from(data.keys()).reduce((result, key) => {
                result[key] = data.get(key);
                return result;
            }, {});
        };

        const handler = (event) => {
            event.preventDefault();
            const valid = formElement.reportValidity();
            if (valid) {
                const result = getFormJSON(formElement);
                $.ajax({
                    url: 'http://localhost:8080/waren/anbieten',
                    type: 'POST',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(result)
                });
                console.log(result)
            }
        }

        formElement.addEventListener("submit", handler)
    </script>
</div>
<div id="footer">
    <p>Zur Startseite: <a href="/">Startseite</a></p>
    <p>Angebote ansehen: <a href="/angebote">Angebote einsehen</a></p>
</div>
</body>
</html>
